# **ENGG680 - Introduction to Digital Engineering**
## *Lab Assignment 1: Using Git and Python for Collaborative Coding in Google Colab*

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Preliminary: Certificate of Work
### (5 Marks)

*We, the undersigned, certify that this is our own work, which has been done expressly for this course, either without the assistance of any other party or where appropriate we have acknowledged the work of others. Further, we have read and understood the section in the university calendar on plagiarism/cheating/other academic misconduct and we are aware of the implications thereof. We request that the total mark for this assignment be distributed as follows among group members:*

|          | First Name | Last Name | Signature (Full Name, Date) | Hours | Contribution % |
|----------|------------|-----------|-----------------------------|-------|----------------|
| Member 1: | First Name | Last Name | Signature | Hours | Contribution |
| Member 2: | First Name | Last Name | Signature | Hours | Contribution |
| Member 3: | First Name | Last Name | Signature | Hours | Contribution |
| Member 4: | First Name | Last Name | Signature | Hours | Contribution |

## Part 1: Printing to the Console
### (6 Marks)

In [ ]:
# In the space below, please print "Hello, World! Welcome to the Student Gradebook Management System."
# (1 mark)

In [ ]:
# Fill in your information using the defined variables below:
# (1 mark)
lab_group_number =
intake_year =
intake_semester = "" #"Fall" or "Winter"

# Using f-strings and the variables above, print "This is implemented by Group <lab_group_number>, for ENGG680 <intake_semester> of <intake_year>"
# (2 marks)

In [ ]:
# Use indexing to print "The subjects involved in this grading system is English and Math." using "subjects" below.
# (2 marks)
subjects = ("English", "Math")

## Part 2: Using Pandas for Data Management and Analytics
### (20 marks)

In [ ]:
# In the space below, please import the Pandas library
# (1 mark)
# importing Pandas library
import pandas as pd

In [8]:
# Load the student grade CSV files into DataFrames using the defined variables
# (2 marks)
# Loading the student grade CSV files into dataframes
df_english = pd.read_csv('/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_English.csv')
df_math = pd.read_csv('/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_Math.csv')

In [9]:
# Merging the DataFrames on 'studentID'
df_studentGrades = pd.merge(df_english, df_math, on='studentID', suffixes=('_English', '_Math'))

In [ ]:
# Take a look at the data contained in the csv files. Why is studentID chosen as the key?
# (1 mark)
# As student ID is unique and present in both table whereas student names might be common. This ensure that each row correponds to the correct student.

In [10]:
# Let's calculate the average GPA across the two classes for each student
df_studentGrades['GPA'] = df_studentGrades[['grade_English', 'grade_Math']].mean(axis=1)

# Now let's check the data! In the space below, please use the .head method to display the dataframe.
# (1 mark)
print(df_studentGrades.head())

  firstName_English lastName_English  studentID  grade_English firstName_Math  \
0              Emma            Smith      10959             95           Emma
1            Sophia         Robinson      75175             88         Sophia
2              Emma           Taylor      42257             87           Emma
3             David         Robinson      55148             86          David
4           Stephen            Curry      30303             90        Stephen

  lastName_Math  grade_Math   GPA
0         Smith          90  92.5
1      Robinson          95  91.5
2        Taylor          85  86.0
3      Robinson          87  86.5
4         Curry          88  89.0

In [ ]:
# Do you notice a problem? The rows for first name and last name have been duplicated!
# .drop(columns=['<column_name1>','<column_name2>'] is a Pandas method that can be used to drop columns.
# In the space below, drop the first name and last name associated with the math .csv file.
# (2 mark)
# Removing the duplicated columns.
df_studentGrades = df_studentGrades.drop(columns=['firstName_Math', 'lastName_Math'])

In [ ]:
# Let's display the data again. Use an appropriate method (hint: already used before)
# (1 mark)
# Printing the table after removing duplicated columns.
print(df_studentGrades.head())

  firstName_English lastName_English  studentID  grade_English  grade_Math  \
0              Emma            Smith      10959             95          90
1            Sophia         Robinson      75175             88          95
2              Emma           Taylor      42257             87          85
3             David         Robinson      55148             86          87
4           Stephen            Curry      30303             90          88

    GPA
0  92.5
1  91.5
2  86.0
3  86.5
4  89.0

In [ ]:
# Let's also rename the first and last names appropriately.
# Complete the code in the space below by replacing "<>" with the proper column name
# (1 mark)

df_studentGrades = df_studentGrades.rename(columns={
    'firstName_English': 'firstName',
    'lastName_English': 'lastName',
    'grade_English': 'englishGrade',
    'grade_Math': 'mathGrade'
    })

In [ ]:
# Now let's find out some statistics about our student grades!
# Please use an appropriate Pandas method in the space below to display statistical values like
# mean, standard deviation, min, max, and others.
# (1 mark)
statistics = df_studentGrades.describe()
print(statistics)

          studentID  englishGrade  mathGrade       GPA
count     14.000000     14.000000  14.000000  14.00000
mean   54086.714286     86.928571  88.571429  87.75000
std    24610.266586      6.145221   5.918865   3.63609
min    10959.000000     76.000000  79.000000  82.00000
25%    33291.500000     82.500000  85.250000  84.50000
50%    58087.000000     87.500000  87.500000  89.00000
75%    72214.250000     90.750000  91.500000  90.50000
max    90449.000000     98.000000  99.000000  92.50000

In [ ]:
# Do you notice a problem?
# Some statistics are not relevant. The average of studentIDs have no meaning in reality!
# Let's typecast each column appropriately so as to only get meaningful statistics.
# In the code below, replace '<>' by choosing between 'str' for string or 'float' for float
# to properly typecast each column.
# (3 marks)
# We treated student ID as a string, so that it wont calculate statistics.
df_studentGrades['studentID'] = df_studentGrades['studentID'].astype(str)
df_studentGrades['firstName'] = df_studentGrades['firstName'].astype(str)
df_studentGrades['lastName'] = df_studentGrades['lastName'].astype(str)
df_studentGrades['englishGrade'] = df_studentGrades['englishGrade'].astype(float)
df_studentGrades['mathGrade'] = df_studentGrades['mathGrade'].astype(float)
df_studentGrades['GPA'] = df_studentGrades['GPA'].astype(float)

In [ ]:
# Now let's see our statistics!
df_studentGrades.describe()

       englishGrade  mathGrade       GPA
count     14.000000  14.000000  14.00000
mean      86.928571  88.571429  87.75000
std        6.145221   5.918865   3.63609
min       76.000000  79.000000  82.00000
25%       82.500000  85.250000  84.50000
50%       87.500000  87.500000  89.00000
75%       90.750000  91.500000  90.50000
max       98.000000  99.000000  92.50000

In [ ]:
# Now sort the merged dataframe so that it is in descending order based on GPA, and print it
# (1 mark)
df_studentsGPASorted = df_studentGrades.sort_values(by='GPA', ascending=False)

# Printing the sorted DataFrame
print(df_studentsGPASorted)

   firstName  lastName studentID  englishGrade  mathGrade   GPA
0       Emma     Smith     10959          95.0       90.0  92.5
12      Sara       Doe     47991          98.0       86.0  92.0
1     Sophia  Robinson     75175          88.0       95.0  91.5
9       Anne     Clark     90449          82.0       99.0  90.5
10      Ryan    Thomas     62137          92.0       89.0  90.5
4    Stephen     Curry     30303          90.0       88.0  89.0
8      Sarah     Swift     61026          80.0       98.0  89.0
11    Daniel     White     25477          91.0       87.0  89.0
3      David  Robinson     55148          86.0       87.0  86.5
2       Emma    Taylor     42257          87.0       85.0  86.0
7      James     Jones     87707          76.0       92.0  84.0
5   Isabella  Thompson     72824          88.0       79.0  83.5
13   Matthew     White     25376          80.0       85.0  82.5
6    Jasmine     Smith     70385          84.0       80.0  82.0

In [ ]:
# If we wanted to access the student with the highest gpa based on df_studentsGPASorted,
# does .iloc or .loc make more sense and why?
# (2 marks)
# .iloc is best suited for integer-location based indexing. As we are sorting the data, we can find the highest GPA on the first row using .iloc.

In [ ]:
# Now using the method you specified, assign the variable below to the row containing the student with the highest GPA
# (1 mark)
top_student = df_studentsGPASorted.iloc[0]
print(top_student)

firstName        Emma
lastName        Smith
studentID       10959
englishGrade     95.0
mathGrade        90.0
GPA              92.5
Name: 0, dtype: object

In [ ]:
# Now print the student first name and last name with the highest GPA in this format:
# "The student with the highest GPA is <firstName> <lastName> with a GPA of <GPA>"
# (1 mark)
# Printing the student with the highest GPA.
print(f"The student with the highest GPA is {top_student['firstName']} {top_student['lastName']} with a GPA of {top_student['GPA']}")

The student with the highest GPA is Emma Smith with a GPA of 92.5

In [ ]:
# We can use logical expressions to filter and print data. For example, let's print the students with math grades higher than 90:
df_mathGrade_over90 = df_studentsGPASorted[df_studentsGPASorted['mathGrade'] > 90]
print(df_mathGrade_over90)

  firstName  lastName studentID  englishGrade  mathGrade   GPA
1    Sophia  Robinson     75175          88.0       95.0  91.5
9      Anne     Clark     90449          82.0       99.0  90.5
8     Sarah     Swift     61026          80.0       98.0  89.0
7     James     Jones     87707          76.0       92.0  84.0

In [ ]:
# Now print the students whos GPA are lower than 85
# (2 marks)
# Printing the students whose GPA are lower than 85.
df_studentGrade_lower85 = df_studentsGPASorted[df_studentsGPASorted['GPA'] < 85]
print(df_studentGrade_lower85)

   firstName  lastName studentID  englishGrade  mathGrade   GPA
7      James     Jones     87707          76.0       92.0  84.0
5   Isabella  Thompson     72824          88.0       79.0  83.5
13   Matthew     White     25376          80.0       85.0  82.5
6    Jasmine     Smith     70385          84.0       80.0  82.0

## Part 3: More Data Analytics using Pandas
### (20 marks)

In [14]:
# Select the column 'grade' from the original English grade dataset and print it
# (1 mark)
# Printing the column 'grade' from the original English grade dataset
grades = df_english['grade']
print("The 'grade' column from the original English grade dataset is:\n", grades)

The 'grade' column from the original English grade dataset is:
 0     95
1     88
2     87
3     86
4     90
5     88
6     84
7     76
8     80
9     82
10    92
11    91
12    98
13    80
Name: grade, dtype: int64

In [15]:
# Select the column 'GPA' from the df_studentGrades and print it
# (1 mark)
# Printing the column 'GPA' from the df_studentGrades
gpa = df_studentGrades['GPA']
print("The 'GPA' column from the df_studentGrades is:\n", gpa)

The 'GPA' column from the df_studentGrades is:
 0     92.5
1     91.5
2     86.0
3     86.5
4     89.0
5     83.5
6     82.0
7     84.0
8     89.0
9     90.5
10    90.5
11    89.0
12    92.0
13    82.5
Name: GPA, dtype: float64

In [ ]:
# What is the data type of grade from the English grade dataset?
# (0.5 mark)
# The data type of grade from the English grade dataset is integer.

# What is the data type of GPA from the merged dataset?
# (0.5 mark)
# The data type of GPA from the merged dataset is float.

# Is it different? Why?
# (1 mark)
# Yes they are different because integer represents whole number without any decimals (eg. 1, -2, 3) whereas float represents numbers having decimal point (eg. 1.1, -2.2, 3.3).

In [16]:
# Load the student homeroom CSV file into a DataFrame using the following variable name
# (1 mark)
df_homeroom = pd.read_csv('/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentHomerooms.csv')

In [41]:
# Merge the studentHomerooms with the merged dataset. Make sure that the key you are joining on are the same typecast for both datasets.
# Also ensure that there are no redundant columns, and finally display the first few rows.
# Hint: try joining on more than one column to avoid having to drop redundant columns, ie. on=['studentID', '<ColumnA>', '<ColumnB>'] ...
# (5 marks)

# Ensure the key columns are of the same type
df_studentGrades['studentID'] = df_studentGrades['studentID'].astype(str)
df_homeroom['studentID'] = df_homeroom['studentID'].astype(str)

# Merge the DataFrames
df_merged = pd.merge(df_studentGrades, df_homeroom, left_on=['studentID', 'firstName_English', 'lastName_English'], right_on=['studentID', 'firstName', 'lastName'])

# Dropping redundant columns
df_merged = df_merged.drop(columns=['firstName_English', 'lastName_English','firstName_Math', 'lastName_Math'])

# Display the first few rows
print(df_merged.head())

  studentID  grade_English  grade_Math   GPA firstName  lastName  homeRoom
0     10959             95          90  92.5      Emma     Smith       313
1     75175             88          95  91.5    Sophia  Robinson       311
2     42257             87          85  86.0      Emma    Taylor       311
3     55148             86          87  86.5     David  Robinson       313
4     30303             90          88  89.0   Stephen     Curry       313

In [35]:
# The code below calculates the mean of each homeroom class.
df_grouped = df_studentInfo.groupby('homeRoom')['GPA'].mean()

# Which homeroom has a higher GPA?
# (1 mark)

# Sorting the values to find the highest GPA
df_sorted = df_grouped.sort_values(ascending=False)

# Find the homeroom with the highest GPA using iloc
highest_gpa_homeroom = df_sorted.iloc[0]
highest_gpa_value = df_sorted.index[0]

print(f"The homeroom with the highest GPA is {highest_gpa_value} with a GPA of {highest_gpa_homeroom:.2f}.")
# The homeroom with the highest GPA is 311

The homeroom with the highest GPA is 311 with a GPA of 88.79.

In [38]:
# Now let's work with multiple sorts. The .sort_values() method can sort by multiple columns, meaning you can specify a primary column and a secondary column for sorting.
# For example, by=['ColumnA', 'ColumnB'] will first sort by ColumnA and then by ColumnB.
# Create and print a DataFrame, df_studentsGPASorted_homeroom, which is sorted by homeRoom and then by GPA, both in descending order.
# (3 mark)
# Sorting by homeRoom and then by GPA, both in descending order
df_studentsGPASorted_homeroom = df_merged.sort_values(by=['homeRoom', 'GPA'], ascending=[False, False])

# Displaying the first few rows
print(df_studentsGPASorted_homeroom.head(10))

   studentID  grade_English  grade_Math   GPA firstName  lastName  homeRoom
0      10959             95          90  92.5      Emma     Smith       313
10     62137             92          89  90.5      Ryan    Thomas       313
4      30303             90          88  89.0   Stephen     Curry       313
3      55148             86          87  86.5     David  Robinson       313
7      87707             76          92  84.0     James     Jones       313
13     25376             80          85  82.5   Matthew     White       313
6      70385             84          80  82.0   Jasmine     Smith       313
12     47991             98          86  92.0      Sara       Doe       311
1      75175             88          95  91.5    Sophia  Robinson       311
9      90449             82          99  90.5      Anne     Clark       311

In [42]:
# Do you notice a problem with the indices? They are basically meaningless now that we have sorted by homeroom and GPA.

# The code below changes the index of the dataframe so that it is more intuitive.
df_studentsGPASorted_homeroom['studentRank'] = df_studentsGPASorted_homeroom.groupby('homeRoom').cumcount() + 1
df_studentsGPASorted_homeroom['newIndex'] = df_studentsGPASorted_homeroom['homeRoom'].astype(str) + '-' + df_studentsGPASorted_homeroom['studentRank'].astype(str)
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.set_index('newIndex')
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.drop(columns=['studentRank'])

print(df_studentsGPASorted_homeroom)

         studentID  grade_English  grade_Math   GPA firstName  lastName  \
newIndex
313-1        10959             95          90  92.5      Emma     Smith
313-2        62137             92          89  90.5      Ryan    Thomas
313-3        30303             90          88  89.0   Stephen     Curry
313-4        55148             86          87  86.5     David  Robinson
313-5        87707             76          92  84.0     James     Jones
313-6        25376             80          85  82.5   Matthew     White
313-7        70385             84          80  82.0   Jasmine     Smith
311-1        47991             98          86  92.0      Sara       Doe
311-2        75175             88          95  91.5    Sophia  Robinson
311-3        90449             82          99  90.5      Anne     Clark
311-4        61026             80          98  89.0     Sarah     Swift
311-5        25477             91          87  89.0    Daniel     White
311-6        42257             87          85  86.0      Emma    Taylor
311-7        72824             88          79  83.5  Isabella  Thompson

          homeRoom
newIndex
313-1          313
313-2          313
313-3          313
313-4          313
313-5          313
313-6          313
313-7          313
311-1          311
311-2          311
311-3          311
311-4          311
311-5          311
311-6          311
311-7          311

In [44]:
# Describe what each coding line in the cell above is doing
# (4 marks)
# The first line assigns a rank to each student based on their GPA, within their homeroom.
# The second line creates a new index by combining the homeroom number and the student’s rank.
# The third line sets the new index for the dataframe.
# The fourth line removes a column 'studentRank' as it is a temporary column.
# Finally, the print statement prints the result.

In [46]:
# Given df_studentsGPASorted_homeroom, please find and print the students with the highest GPA in each homeroom using the .loc method.
# (2 marks)
#
# Sort by homeRoom and then by GPA, both in descending order
df_studentsGPASorted_homeroom = df_merged.sort_values(by=['homeRoom', 'GPA'], ascending=[False, False])

# Rank students within each homeroom
df_studentsGPASorted_homeroom['studentRank'] = df_studentsGPASorted_homeroom.groupby('homeRoom').cumcount() + 1

# Create a new index
df_studentsGPASorted_homeroom['newIndex'] = df_studentsGPASorted_homeroom['homeRoom'].astype(str) + '-' + df_studentsGPASorted_homeroom['studentRank'].astype(str)

# Set the new index
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.set_index('newIndex')

# Drop the temporary rank column
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.drop(columns=['studentRank'])

# Find the highest GPA in each homeroom
highest_gpa_per_homeroom = df_studentsGPASorted_homeroom.groupby('homeRoom')['GPA'].max()

# Use .loc to filter the DataFrame for students with the highest GPA in each homeroom
students_with_highest_gpa = df_studentsGPASorted_homeroom.loc[df_studentsGPASorted_homeroom['GPA'].isin(highest_gpa_per_homeroom)]

print(students_with_highest_gpa)

         studentID  grade_English  grade_Math   GPA firstName lastName  \
newIndex
313-1        10959             95          90  92.5      Emma    Smith
311-1        47991             98          86  92.0      Sara      Doe

          homeRoom
newIndex
313-1          313
311-1          311

## Part 4: Using Matplotlib for Data Analytics
### (14 marks)

In [47]:
# In the space below, please import the matplotlib library
# (1 mark)
import matplotlib.pyplot as plt

In [ ]:
# Let's use matplotlib to display a histogram of the grades distribution
# Histograms are useful for seeing the distribution of the students grades

plt.figure(figsize=(10, 6))
plt.hist(df_studentGrades['englishGrade'], bins=10, alpha=0.7, label='English Grades', color='blue')

# Step 1: Use the line above as reference to create a histogram for the math grades
# (1 mark)
#

# Step 2: Ensure that your plot is descriptive, so use labels (x and y axis), a title, and a legend.
# Hint: Use the matplotlib .legend(loc='<location>') to add and place the legend.
# You can use 'upper left', 'upper right', 'lower left', and 'lower right' to specify the location.
# (4 marks)
#
plt.grid(True)

# Step 3: Use the .savefig('<image_title>'.png) to output an image file of the histogram.
# Please be sure to use a descriptive title!
# (1 mark)
#

plt.show()

In [ ]:
# Let's also use matplotlib to display a scatter plot of English vs. Math grades
# Scatter plots are useful for seeing the relationship between two variables
plt.figure(figsize=(10, 6))

# Step 1: Use .scatter(x_data, y_data) to create a scatter plot using the English grades on the x-axis, and Math grades on the y-axis
# (2 mark)
#

# Step 1: Properly label the x and y axes as well as the title of your plot.
# (3 marks)
#
plt.grid(True)

# Step 2: Output an image file for the scatter plot with a descriptive file name
# (1 mark)
#

plt.show()

In [ ]:
# From the scatter plot, is there a relationship between the Math and English grades?
# (1 mark)
#